In [1]:
import pandas as pd

In [4]:
pd.read_excel(r"C:\Users\Brundaban\Desktop\dataset1.xlsx")

  name  phone  adress
0  bob     456    f34
1  hgj     567    g56
2  das     267    78e

In [8]:
pd.read_csv(r"C:\Users\Brundaban\Desktop\DataSet4.tsv",sep='\t')

     Name     Group Unnamed: 2  Address
0   Allen  python-3     oabgvd      NaN
1     Bob  python-6     adagbv      NaN
2  Surfaz  python-9     adasda      NaN

In [10]:
pd.read_csv(r"C:\Users\Brundaban\Desktop\dataset1.csv")

  name  phone  adress
0  bob     456    f34
1  hgj     567    g56
2  das     267    78e